{% extends "jobPortalApp/base.html" %}
{% load static %}
{% block content %}

<body class="flex flex-col bg-very-pale-blue">
    <main class="flex flex-col gap-y-[44px] flex-grow px-[200px] py-[60px]">
        <section class="flex-grow flex flex-col gap-y-[55px] bg-white min-h-[400px] p-[36px]">
            <div class="flex-shrink-0 flex flex-col gap-y-[36px]">
                <div class="flex justify-between items-start">
                    <a href="../company" class="flex items-center gap-x-2">
                        <span><img src="assets/chevron-left.svg" alt=""></span>
                        <span class="uppercase text-sm font-light">Go Back</span>
                    </a>
                </div>
                <div class="text-[28px] font-semibold italic ml-[42px]">Setting Up Information</div>
            </div>
            <form id="edit-form" action="../admin-edit-company-process/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" name="edit-id" id="edit-id" value="{{provider.user_id}}" class="input-1px w-[250px]"
                    style="display: none;">
                <div class="flex flex-col gap-y-[34px]">
                    <div class="text-[22px] font-semibold italic">Company Information</div>
                    <div class="flex flex-col gap-y-[24px]">
                        <div class="flex flex-col gap-y-[5px]">
                            <span class="label">Name</span>
                            {% if not provider.name %}
                            <input type="text" name="edit-name" id="edit-name" placeholder="Enter Username"
                                class="input-1px w-[250px]">
                            {% else %}
                            <input type="text" name="edit-name" id="edit-name" value="{{provider.name}}"
                                class="input-1px w-[250px]">
                            {% endif %}
                        </div>
                        <div class="flex flex-col gap-y-[5px]">
                            <span class="label">Description</span>

                            {% if not provider.description %}
                            <textarea name="edit-description" id="edit-description" rows="8"
                                placeholder="Enter informations about the job provider" class="input-1px"></textarea>
                            {% else %}
                            <textarea name="edit-description" id="edit-description" rows="8"
                                class="input-1px">{{provider.description}}</textarea>
                            {% endif %}
                        </div>
                        <div class="flex flex-col gap-y-[5px]">
                            <span class="label">City</span>
                            {% if not provider.city %}
                            <select name="edit-city" id="edit-city" required class="select-2 w-[250px]">
                                <option value="" disabled selected hidden>Select City</option>
                                <option class="China" value="Beijing" style="display: block;">Beijing</option>
                                <option class="China" value="Macau" style="display: block;">Macau</option>
                                <option class="Japan" value="Inuyama" style="display: block;">Inuyama</option>
                                <option class="Japan" value="Toyota" style="display: block;">Toyota</option>
                                <option class="Russia" value="Abakan" style="display: block;">Abakan</option>
                                <option class="Russia" value="Beslan" style="display: block;">Beslan</option>
                                <option class="South Korea" value="Seoul" style="display: block;">Seoul</option>
                                <option class="South Korea" value="Busan" style="display: block;">Busan</option>
                            </select>
                            {% else %}
                            <select name="edit-city" id="edit-city" required class="select-2 w-[250px]">
                                <option value="{{provider.city}}" selected hidden>{{provider.city}}</option>
                                <option class="China" value="Beijing" style="display: block;">Beijing</option>
                                <option class="China" value="Macau" style="display: block;">Macau</option>
                                <option class="Japan" value="Inuyama" style="display: block;">Inuyama</option>
                                <option class="Japan" value="Toyota" style="display: block;">Toyota</option>
                                <option class="Russia" value="Abakan" style="display: block;">Abakan</option>
                                <option class="Russia" value="Beslan" style="display: block;">Beslan</option>
                                <option class="South Korea" value="Seoul" style="display: block;">Seoul</option>
                                <option class="South Korea" value="Busan" style="display: block;">Busan</option>
                            </select>
                            {% endif %}

                        </div>
                        <div class="flex flex-col gap-y-[5px]">
                            <span class="label">Country</span>
                            {% if not provider.country %}
                            <select name="edit-country" id="id_country" required class="select-2 w-[250px]"
                                onchange="countyChoice()">
                                <option value="" disabled selected hidden>Select Country</option>
                                <option class="country" value="China">China</option>
                                <option class="country" value="Russia">Russia</option>
                                <option class="country" value="South Korea">South Korea</option>
                                <option class="country" value="Japan">Japan</option>
                            </select>
                            {% else %}
                            <select name="edit-country" id="id_country" required class="select-2 w-[250px]"
                                onchange="countyChoice()">
                                <option value="{{provider.country}}" selected hidden>{{provider.country}}</option>
                                <option class="country" value="China">China</option>
                                <option class="country" value="Russia">Russia</option>
                                <option class="country" value="South Korea">South Korea</option>
                                <option class="country" value="Japan">Japan</option>
                            </select>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </form>
            <button class="btn self-end" id="edit-save">Save</button>
            <div class="flex flex-col gap-y-[50px] px-[42px]">

            </div>
        </section>
    </main>
</body>
<script>
    btn_save = document.getElementById('edit-save');

    btn_save.onclick = function () {
        document.getElementById('edit-form').submit();
    };

    logout_open = document.getElementById('logout-btn');
    logout_close = document.getElementById('close-logout');

    logout_open.onclick = function () {
        document.getElementById('logout-div').style.display = "Block";
    };
    logout_close.onclick = function () {
        document.getElementById('logout-div').style.display = "None";
    };
    function countyChoice() {

        d = document.getElementById("id_country").value;
        var items2 = document.getElementsByClassName('country');
        for (var i = 0; i < items2.length; i++) {
            if (items2[i].value != d) {
                var items3 = document.getElementsByClassName(items2[i].value);
                for (var j = 0; j < items3.length; j++) {
                    items3[j].style.display = "none";
                }
            }
        }
        
        var items3 = document.getElementById('id_city');
        var items = document.getElementsByClassName(d);
        items3.selectedIndex = items[0].index
        for (var i = 0; i < items.length; i++) {
            items[i].style.display = "block";
        }
    }


</script>

{% endblock %}