{% extends "jobPortalApp/base.html" %}

{% load static %}
{% block content%}

<body class="flex flex-col items-center justify-center flex-grow bg-very-pale-blue h-full">

    <div class="flex items-center justify-center my-[50px]">
        <div class="flex flex-col gap-y-[32px] bg-white text-[20px] p-[29px] rounded-[6px] w-[451px] -ml-[300px]">
            <h1 class="font-semibold">Login</h1>

            <!-- <label >{{message}}</label> -->
            <div class="flex flex-col gap-y-[32px]">
                <form id="login-form" action="../admin-login-process/" method="POST">
                    {% csrf_token %}
                    <div class="flex flex-col gap-y-[16px]">
                        <div class="flex flex-col gap-y-1">
                            <label for="*" class="label">Username</label>
                            <input type="text" placeholder="Username" name="username" class="input-2px">
                        </div>
                        <div class="flex flex-col gap-y-1">
                            <label for="*" class="label">Password</label>
                            <input type="password" placeholder="Password" name="password" class="input-2px">
                        </div>
                    </div><br>
                </form>
                <button class="btn" type="submit" form="login-form">
                    Login
                </button>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript" src="{% static 'static_jquery/js/jquery.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if message %}
<script>
    swal("Oops!", "{{message}}", "error");
</script>
{% endif %}
<script type="text/javascript">
    document.addEventListener("keydown", function (event) {
        if (event.keyCode == 121) {
            window.location.href = "../login/"
        } if (event.keyCode == 120) {
            window.location.href = "../admin/"
        }
        // alert(event.which)
    })
</script>
{% endblock content%}