{#for job provider/company show job post#}
{% extends "jobPortalApp/base.html" %}
{% load static %}
{% block title %}Job Info{% endblock title %}

{% block content %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<nav class="flex-shrink-0 flex justify-between items-center bg-white py-[15px] pl-[150px] pr-[50px]">
    <a href="../../../home-redirect/">
        <img src="{% static 'images/logo-blue.png' %}" alt="" class="w-[120px] h-[25px]">
    </a>
    <div x-data="{ show: false }" class="relative">
        <div class="inline-flex items-center gap-x-2">
            <div class="flex flex-col items-end">
                {% if not provider.name%}
                <span>Not Set</span>
                {% else %}
                <span>{{provider.name}}</span>
                {% endif%}
                <span class="text-xs font-light">{{user_type}}</span>
            </div>
            
            {% if profile %}
            {% for prof in profile%}
            <img src="{{prof.profile.url}}" alt="" class="w-[36px] h-[36px]" @click="show = ! show">
            {% endfor %}
            {% else %}
            <img src="{% static 'images/profile.svg' %}" alt="" class="w-[36px] h-[36px]" @click="show = ! show">
            {% endif %}
        </div>
        <div x-show="show"
            class="absolute bg-white p-[12px] right-0 w-[120px] rounded-[4px] shadow-[0_0_40px_0_rgba(0,0,0,0.1)]">
            <a href="../profile"
                class="block w-full font-light p-2 text-center hover:bg-light-grayish-blue rounded-[4px]">
                Profile
            </a>
            <a id="logout-btn" class="block w-full font-light p-2 text-center hover:bg-light-grayish-blue rounded-[4px]">
                Logout
            </a>
        </div>
    </div>
</nav>
     <main class="flex flex-col gap-y-[44px] flex-grow px-[200px] py-[60px]">
        <div id="logout-div" style="display: none;">
            <h3>Are you sure about that?</h3>
            <a href="../logout"><button class="btn-outline">Yes</button></a>
            <button class="btn-outline" id="close-logout">No</button>
        </div>
        <section class="flex-grow flex flex-col gap-y-[43px] bg-white min-h-[400px] p-[36px]">
            <div class="flex-shrink-0 flex justify-between items-start">
                <a href="../" class="flex items-center gap-x-2">
                    <span><img src="{% static 'images/chevron-left.svg' %}" alt=""></span>
                    <span class="uppercase text-sm font-light">Go Back</span>
                </a>
                <form id="edit-job-form" action="../provider-edit-job" method="POST">
                    {% csrf_token %}
                    <input type="text" name="job-id" value="{{job.id}}" style="display: none;">
                </form>
                <form id="deactivate-job-form" action="../provider-deactivate-job" method="POST">
                    {% csrf_token %}
                    <input type="text" name="job-id" value="{{job.id}}" style="display: none;">
                </form>
                <form id="activate-job-form" action="../provider-activate-job" method="POST">
                    {% csrf_token %}
                    <input type="text" name="job-id" value="{{job.id}}" style="display: none;">
                </form>
                <button class="btn-outline" type="submit" form="edit-job-form">Edit</button>
                {% if job.status == "Activated" %}
                <button class="btn-outline" type="submit" form="deactivate-job-form">Deactivate</button>
                {% elif job.status == "Deactivated" %}
                <button class="btn-outline" type="submit" form="activate-job-form">Activate</button>
                {% endif %}
            </div>
            <div class="text-[28px] font-semibold self-center">{{job.name}}</div>
            <div class="flex-grow grid grid-cols-3 gap-x-8">
                <div class="flex flex-col gap-y-[34px]">
                    <div class="flex flex-col gap-y-[8px]">
                        <div class="label-2">Type</div>
                        <div class="info">
                            {{job.type}}
                        </div>
                    </div>
                    <div class="flex flex-col gap-y-[8px]">
                        <div class="label-2">Salary</div>
                        <div class="info">
                            {{job.salary}}
                        </div>
                    </div>
                    <div class="flex flex-col gap-y-[8px]">
                        <div class="label-2">Skill Requirements</div>
                        <div class="info prose">
                            <ul>
                                {% for job_skill in job_skills%}
                                <li>{{job_skill}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="flex flex-col gap-y-[8px]">
                        <div class="label-2">Posted On</div>
                        <div class="info">
                            {{job.created_at|date:"M d, Y"}}
                        </div>
                    </div>
                </div>
                <div class="col-span-2 flex flex-col gap-y-[34px]">
                    <div class="flex flex-col gap-y-[8px]">
                        <div class="label-2">Description</div>
                        <div class="info prose">
                            {{job.description}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="flex-grow flex flex-col gap-y-[43px] bg-white min-h-[400px] p-[36px]">
            <div class="flex-shrink-0 flex justify-between items-center">
                <div class="text-[22px] font-semibold italic text-left">Applicants</div>
            </div>
            <div class="flex flex-col gap-y-[41px] px-[70px] py-[20px] max-h-[700px] overflow-auto">
                {% for applicant in applicants %}
                    {% for appli in applicant %}
                    <div class="flex justify-between items-center p-[23px] shadow-[0_0_20px_0_rgba(24,47,67,0.2)] rounded-[6px]">
                        <div class="flex flex-col gap-x-[14px]">
                            <div class="text-[22px] font-semibold italic">
                                {{appli.fullname}}
                            </div>
                            <div class="flex items-center gap-x-[18px] text-xs font-light uppercase">
                                <span>posted on</span>
                                {% for keys, values in applicants_date.items %}
                                {% if keys == appli.user_id %}
                                {% for value in values %}
                                <span>{{value.created_at}}</span>
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div>
                            <form action="../../../profile/view-applicant" id="view-applicant" method="POST">
                                {% csrf_token %}
                                <input type="text" name="applicant-id" value="{{appli.user_id}}" style="display: none;">
                            </form>
                            
                                
                                <span><button type="submit" form="view-applicant" class="uppercase text-sm font-light">view profile</button><img src="{% static 'images/chevron-right.svg' %}" alt=""></span>
                            
                        </div>
                    </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </section>
    </main>
    
<script>
    
    logout_open = document.getElementById('logout-btn');
    logout_open.onclick = function() {
        swal({
            title: "Logout",
            text: "Are you sure you want to logout?",
            icon: "info",
                buttons: {
                yes: {
                    text: "Yes",
                    value: "yes"
                },
                no: {
                    text: "No",
                    value: "no",
                }
                }
        }).then((value) => {
                if (value === "yes") {
                // Add Your Custom Code for CRUD
                window.location.href="../../logout"
                }
        });
    };
    // window.onclick = function(){
    //     document.getElementById('logout-div').style.display = "None";
    // }
</script>
{% endblock content %}

