{% extends "jobPortalApp/base.html" %}
{% load static %}
{% block content %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<body class="flex flex-col bg-very-pale-blue">
    <nav class="flex-shrink-0 flex justify-between items-center bg-white py-[15px] pl-[150px] pr-[50px]">
        <a href="../home">
            <img src="{% static 'images/logo-blue.png' %}" alt="" class="w-[120px] h-[25px]">
        </a>
        <div x-data="{ show: false }" class="relative">
            <div class="inline-flex items-center gap-x-2">
                <div class="flex flex-col items-end">
                    {% if seeker_details %}
                    <span>{{seeker_details.fullname}}</span>
                    {% else %}
                    <span>Not Set</span>
                    {% endif %}
                    <span class="text-xs font-light">{{user_type}}</span>
                </div>
                
                {% if not profile %}
                <img src="{% static 'images/profile.svg' %}" alt="" class="w-[36px] h-[36px]" @click="show = ! show">
                {% else %}
                {% for prof in profile  %}
                <img src="{{prof.profile.url}}" alt="" class="w-[36px] h-[36px]" @click="show = ! show">
                {% endfor %}
                {% endif %}
            </div>
            <div x-show="show"
                class="absolute bg-white p-[12px] right-0 w-[120px] rounded-[4px] shadow-[0_0_40px_0_rgba(0,0,0,0.1)]">
                <a href="../profile"
                    class="block w-full font-light p-2 text-center hover:bg-light-grayish-blue rounded-[4px]">
                    Profile
                </a>
                <a id="logout-btn"
                    class="block w-full font-light p-2 text-center hover:bg-light-grayish-blue rounded-[4px]">
                    Logout
                </a>
            </div>
        </div>
    </nav>
    <main class="flex flex-col gap-y-[44px] flex-grow px-[200px] py-[60px]">
        <form id="password-form" action="../profile/seeker-change-password" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <section class="flex-grow flex flex-col gap-y-[55px] bg-white min-h-[400px] p-[36px]">
            <div class="flex-shrink-0 flex flex-col gap-y-[36px]">
                <div class="flex justify-between items-start">
                    <a href="../profile" class="flex items-center gap-x-2">
                        <span><img src="assets/chevron-left.svg" alt=""></span>
                        <span class="uppercase text-sm font-light">Go Back</span>
                    </a>
                </div>
                <div class="text-[28px] font-semibold italic ml-[42px]">Change Password</div>
            </div>
                <div class="flex flex-col gap-y-[34px]">
                    
                    <div class="flex flex-col gap-y-[24px]">
                        <div class="flex flex-col gap-y-[5px]">
                            <span class="label">Old Password</span>
                            <input type="password" name="old_password" id="old_password"  class="input-1px w-[250px]" required>
                        </div>
                        <div class="flex flex-col gap-y-[5px]">
                            <span class="label">New Password</span>
                            <input type="password" name="new_password" id="new_password"  class="input-1px w-[250px]" required>
                        </div>
                        <div class="flex flex-col gap-y-[5px]">
                            <span class="label">Confirm Password</span>
                            <input type="password" name="confirm_password" id="confirm_password" class="input-1px w-[250px]" required>
                        </div>
                    
                </div>
            <button class="btn self-end">Save</button> 
        </section>
    </form>
    </main>
</body>
{% if message %}
<script>
    swal("Oops!", "{{message}}", "error");
</script>
{% endif %}
<script>
    btn_pass = document.getElementById('edit-pass');

    btn_pass.onclick = function () {
        document.getElementById('password-form').submit();
    };
    
    
    logout_open = document.getElementById('logout-btn');
    logout_open.onclick = function() {
        swal({
            title: "Logout",
            text: "Are you sure you want to logout?",
            icon: "info",
                buttons: {
                yes: {
                    text: "Yes",
                    value: "yes"
                },
                no: {
                    text: "No",
                    value: "no",
                }
                }
        }).then((value) => {
                if (value === "yes") {
                // Add Your Custom Code for CRUD
                window.location.href="../logout"
                }
        });
    };
</script>

{% endblock %}
